body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: skyblue; /* Change color on hover */
  }
  
  
  nav ul li a:active {
    color: skyblue;
  }
  
  section {
    padding: 40px 0;
  }
  
  .about-content {
    display: flex;
    align-items: center;
  }
  
  .about-content img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
  }

  
  .project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .project p {
    font-size: 18px;
  }
  
  .project a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  
  .project a:hover {
    background-color: #ddd;
  }


.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-icons a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.contact-icons a:hover {
  color: #666;
}

  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  